*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite NO", cursive;
}
body{
    background-color: rgba(228, 13, 145, 0.748);
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640;
}
h1{
    margin-left: 20px;
    padding: 10px;
    color: #fafafa;
    font-weight: 1000;
    font-size: 60px;
}
span{
    color: rgb(153, 0, 255);
}
p{
    color: rgb(0, 0, 0);
    font-size: px;
    font-weight: bold;
}
textarea{
    width: 100%;
    resize: none;
    max-width: 640;
    padding: 10px;
    border: 1px solid pink;
    border-radius: 100px;
    background-color: greenyellow;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    color: blueviolet;
}

img{
    width: 500px;
    height: 250px;
}